<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<script src="script-tags-for-development.js"></script>
<script>
    var app = angular.module('myApp', ['ngMap']);
    app.controller('MarkerRemoveCtrl', function(NgMap) {
      var vm = this;
      
      NgMap.getMap().then(map => vm.map = map);
      vm.positions = [];
      vm.currentMarker = "";
      vm.addMarker = function(event) {
        vm.currentMarker= "";
        var ll = event.latLng;
        var len = vm.positions.length;
        vm.positions.push({lat:ll.lat(), lng: ll.lng(), index: len});
      };

      vm.pinClicked = function(events, marker) {
       vm.currentMarker = "";
       var pos = marker.$index;
       vm.map.setCenter(vm.map.markers[pos].getPosition());
       var s = vm.map.markers[pos].getPosition().toString(); 
       var A = s.replace('(', '');
       var B = A.replace(')', '');
       vm.currentMarker = B;
      };
      vm.deleteMarkers = function() {
        vm.positions = [];
      };
      vm.showMarkers = function() {
        vm.currentMarker = "";
        for (var key in vm.map.markers) {
          vm.map.markers[key].setMap(vm.map);
        };

      };
      vm.hideMarkers = function() {
        vm.currentMarker = "";
        for (var key in vm.map.markers) {
          vm.map.markers[key].setMap(null);
        };
      };
    });
</script>
</head>

<body>
  <style>
    div[ng-controller] {
      position: relative;
      border: 1px solid #999;
    }
    #panel {
      position: absolute;
      top: 40px;
      left: 50%;
      margin-left: -180px;
      z-index: 5;
      background-color: #fff;
      padding: 5px;
      border: 1px solid #999;
    }
  </style>
    <div ng-controller="MarkerRemoveCtrl as vm">
      <br/>
      <h2> The map is centered to your current location </h2> <br>
     <h2> Click on map to add a water source </h2><br>

      Click on map to add a water source. 
      <h2> Click button to show, hide, or remove markers</h2>
      <h3><font color=blue> Click on any marker to get directions from your location to that water source </h3> </font>

      <div id="panel">
        <input ng-click="vm.hideMarkers()" type=button value="Hide Water resources">
        <input ng-click="vm.showMarkers()" type=button value="Show Water resources">
        <input ng-click="vm.deleteMarkers()" type=button value="Delete Water resources">
      </div>
      <ng-map center="8.7412,77.694626" zoom="12" on-click="vm.addMarker()">
     <marker position="8.7412,77.694626"
          icon="{path:'CIRCLE', scale: 10, strokeColor: 'blue', zIndex:10}"></marker>
       <marker
          ng-repeat="pos in vm.positions" position="{{pos.lat}}, {{pos.lng}}"
          id="{{pos.index}}" on-click="vm.pinClicked(this)"></marker> 
     <directions id= "id2" draggable="true" panel="directions-panel" travel-mode="DRIVING" origin="8.7412,77.694626" 
           suppress-markers="true"
     destination="{{vm.currentMarker}}">
        </directions> 
     
      </ng-map>
            <!--        -->
    
      <div id="directions-panel" style="width: 28%; float:left; height: 100%; overflow: auto; padding: 0px 5px">
      </div> 
  <p id = "id3">      </p>
</body>
</html>
