<html>
<head>
<title> Show all water sources </title>
</head>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script>
  var app = angular.module('show_uploads', []);
  app.controller('viewUploadsController', function($scope, $http) {
  	$scope.water_sources = [];

  	$scope.getAllWaterSources = function(event) {
  		
	$http({
            url: 'http://localhost:8080/api/v1/water/sources',
            method: 'GET'
          
        }).then(function(response) {
        	alert('success');
        	for(var i in response.data) {
        		idvalue = response.data[i].id;
        		images = response.data[i].images;
        		latitude = response.data[i].location.Lat;
        		longitude = response.data[i].location.Lng;
        		$scope.water_sources.push(
        			{  lat:latitude, 
        				lng: longitude, 
        				id:idvalue, 
        				comment: response.data[i].comment, 
        				images :response.data[i].images , 
        				description : response.data[i].description
        			}
        		)
        	}
         },
         function () {
         	$scope.textValue = " Failure to get data";
         	alert('failure');
         });

	alert("over");

  	};

  });
</script>
<div ng-app = "show_uploads" ng-controller="viewUploadsController" ng-init="getAllWaterSources()">
	<button name="show sources"  value = "show sources" ng-click="getAllWaterSources()"></button>
	{{textValue}}

	<table>
		<tr>
		<th> latitude </th>
		<th> longitude </th>
		<th> comment </th>
		<th> description </th>
		<th> image </th>
		</tr>
		 <tr ng-repeat="A in water_sources">
			<td> {{A.lat}}</td>
			<td>{{A.lng}} </td>
			<td>{{A.comment}} </td>
			<td>{{A.description}} </td>
			<td> {{A.images}} </td>
			</tr>
		
	</table>
</div>
</body>
</html>
