<input type=button ng-click="getAllWaterSources()" value="Refresh to get all recent water sources"/>
<br/>Address : <input ng-model="address" />

<ng-map center="{{address}}" zoom="12" ng-init="getAllWaterSources()">

<marker position="{{address}}"></marker>

<marker
      ng-repeat="pos in positions" position="{{pos.location.Lat}}, {{pos.location.Lng}}"
  icon="{path:'CIRCLE', scale: 10, strokeColor: 'blue', zIndex:10}"
  id="{{pos.id}}" >
</marker> 

<traffic-layer></traffic-layer>
</ng-map> 

